@import '../../../variables.css';

.footer {
	position: absolute;
	bottom: 25px;
	color: var(--color-white);
}

.link {
	color: #fff;
	text-decoration: none;
	text-shadow: 0.2 0 var(--color-black);
	transition: ease 0.2s;
}

.link:hover {
	color: var(--color-primary);
}
